name: Build and Deploy PDF

on:
  push:
    tags:
      - v*
  workflow_dispatch:

env:
  ACTIONS_RUNNER_DEBUG: false
  # REQUIRES ${{ secrets.GH_ACCESS_TOKEN }} defined in secrets

jobs:
  deploy-pdf:
    uses: kolosovpetro/github-latex-template/.github/workflows/build-and-deploy-pdf-template.yml@main
    secrets: inherit
    with:
      file_name: 'ProofOfKnuthIdentity543'
      enable_patch_version: true
      enable_pandoc: true
      enable_html_deploy: true
      html_deploy_path: 'math/test'
      runs_on: 'ubuntu-latest'
      workflow_name: 'Deploy PDF'
      build_assets_path: |
        src/ProofOfKnuthIdentity543.tex
        src/ProofOfKnuthIdentity543.bbl
        src/ProofOfKnuthIdentity543.bib
        src/sections
        src/metadata
      working_directory_for_latex: 'src'
